In [27]:

import pandas as pd

In [26]:
df = pd.read_csv("IMDB Dataset.csv")
df.head()
df.dropna(axis="columns",how="any").shape
df.tail(5)

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [21]:
df = pd.read_excel("TOP IMDB Movies.xlsx")
df.columns
df.dropna(axis="columns",how="any").shape
df.head()

,Unnamed: 0,Number,Title,Movie link,Rating,Runtime,Genre,Votes,Metascore,Gross,Plot
0,0,1.0,Avengers: Endgame,https://www.imdb.com/title/tt4154796/,8.6,181 min,"\nAction, Adventure, Sci-Fi","558,276",78,$858.37M,\n After the devastating events of Avengers...
1,1,2.0,Gisaengchung,https://www.imdb.com/title/tt6751668/,8.5,132 min,"\nComedy, Drama, Thriller","29,523",92,$858.37M,"\n All unemployed, Ki-taek's family takes p..."
2,2,3.0,The Shining,https://www.imdb.com/title/tt0081505/,8.4,146 min,"\nDrama, Horror","798,352",66,$44.02M,\n A family heads to an isolated hotel for ...
3,3,4.0,The Dark Knight,https://www.imdb.com/title/tt0468569/,9.0,152 min,"\nAction, Crime, Drama","2,099,976",84,$534.86M,\n When the menace known as The Joker emerg...
4,4,5.0,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,9.3,142 min,\nDrama,"2,135,421",80,$28.34M,\n Two imprisoned men bond over a number of...

In [22]:
df = pd.read_csv("IMDb Movies India.csv")
df.columns
df.shape
df.dropna(axis="columns",how="any").shape
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [23]:
df = pd.read_csv("ChristopherNolan.csv")
df.columns
df.shape
df.dropna(axis="columns",how="any").shape
df.head()

,﻿Year,Title,Runtime,Rated,Director,Released,Writer,Production,Actors,Awards,Language,Imdb Votes,Imdb Rating,Rotten Tomato Score,Metascore
0,1998,Following,69 min,R,Christopher Nolan,11/5/99,Christopher Nolan,IFC,"Jeremy Theobald, Alex Haw, Lucy Russell, John ...",5 wins & 4 nominations,English,"81,119",7.5,80%,60
1,2000,Memento,113 min,R,Christopher Nolan,5/25/01,"Christopher Nolan (screenplay), Jonathan Nolan...",Newmarket Films,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",Nominated for 2 Oscars. Another 57 wins & 56 n...,English,"1,066,795",8.4,92%,80
2,2002,Insomnia,118 min,R,Christopher Nolan,5/24/02,"Hillary Seitz (screenplay), Nikolaj Frobenius,...",Warner Bros. Pictures,"Al Pacino, Martin Donovan, Oliver 'Ole' Zemen,...",1 win & 10 nominations.,English,"261,003",7.2,92%,78
3,2005,Batman Begins,140 min,PG-13,Christopher Nolan,6/15/05,"Bob Kane (characters), David S. Goyer (story),...",Warner Bros. Pictures,"Christian Bale, Michael Caine, Liam Neeson, Ka...",Nominated for 1 Oscar. Another 14 wins & 72 no...,"English, Mandarin","1,241,089",8.2,84%,70
4,2006,The Prestige,130 min,PG-13,Christopher Nolan,10/20/06,"Jonathan Nolan (screenplay), Christopher Nolan...",Buena Vista Pictures,"Hugh Jackman, Christian Bale, Michael Caine, P...",Nominated for 2 Oscars. Another 6 wins & 38 no...,English,"1,115,238",8.5,75%,66

In [24]:
df = pd.read_csv("IMDB.csv")
df.columns
df.shape
df.dropna(axis="columns",how="any").shape
df.head()

,Unnamed: 0,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
0,1,12 Years a Slave�(2013),8.1,"496,092",Biography,Drama,History,96.0,"$20,000,000",134 min,...,�8.0,�7.9,�8.0,�7.8,�7.8,�8.1,�8.0,�7.7,�8.3,�8.0
1,2,127 Hours�(2010),7.6,"297,075",Adventure,Biography,Drama,82.0,"$18,000,000",94 min,...,�7.5,�7.5,�7.5,�7.3,�7.3,�7.5,�7.6,�7.0,�7.7,�7.6
2,3,50/50�(2011),7.7,"283,935",Comedy,Drama,Romance,72.0,"$8,000,000",100 min,...,�7.6,�7.6,�7.6,�7.4,�7.4,�7.5,�7.4,�7.0,�7.9,�7.6
3,4,About Time�(2013),7.8,"225,412",Comedy,Drama,Fantasy,NaN,"$12,000,000",123 min,...,�7.6,�7.6,�7.7,�7.6,�7.5,�7.8,�7.7,�6.9,�7.8,�7.7
4,5,Amour�(2012),7.9,"76,121",Drama,Romance,NaN,94.0,"$8,900,000",127 min,...,�7.7,�7.7,�7.9,�7.9,�7.8,�8.1,�6.6,�7.2,�7.9,�7.8